.contact_py-3 {
    padding: 8rem 0 12rem 0;
}

.ml-4 {
    margin-left: 4rem;
}

.contact__svg {
  display: flex;

  img {
    width: 22vw; 
    height: auto;
  }
}

.contact__form {
  form {
    .form-control {
      margin-bottom: 15px;
    }
  }
}

.ct__btn {
    background-color: var(--bg-btn);
    border: 1px solid var(--bar-experience-btn);
    text-decoration: none !important;
    padding: 6px 10px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    transition: .25s;
    min-width: 7rem;
}

.ct__btn:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 767px) {
  .contact__svg {
    display: none;
  }
  
  .responsive-ml-4 {
    margin-left: 0 !important;
  }

  .responsive-contact {
    flex-direction: column;
    margin-top: 0!important;
    align-items: end!important;
  }

  .responsive-send-section {
    display: flex;
    justify-content: space-between;
  }
}