.contact_py-3 {
    padding: 8rem 0 12rem 0;
}

.pl-4 {
    margin-left: 4rem;
}

.contact__svg {
  img {
    width: 20vw; 
    height: auto;
  }
}

.contact__form {
  form {
    .form-control {
      margin-bottom: 15px;
    }
  }
}