<div class="container mx-wd">
    <hr>
    <div class="d-flex justify-content-between align-items-center about__py-3">
        <div>
            <h4 class="about__h4">Quem sou</h4>
            <h3 class="about__h3 mt-4">Igor Rocha Lima</h3>
            <h5 class="about__h5 mb-4">Desenvolvedor Front end</h5>
            <p class="text-justify">
                Meu nome é Igor, formado em Análise e Desenvolvimento de Sistemas, e cursando uma pós-graduação em Desenvolvimento Web, estou em busca de expandir minhas habilidades.
            </p>
    
            <p class="text-justify">
                Com experiência na Wakke, onde atuei como desenvolvedor full stack, aprendi a importância da versatilidade e da entrega de soluções eficazes. Hoje, como freelancer há três meses, mergulhei ainda mais no universo do <span style="color: #c4002b; font-weight: bold;">Angular</span>, que se tornou minha principal ferramenta para criar experiências web dinâmicas e eficientes.
            </p>
    
            <p class="text-justify">
                Meu domínio em <span style="color: #c4002b; font-weight: bold;">Angular</span> é acompanhado por um conhecimento avançado em <span style="color: #e44f26; font-weight: bold;">HTML</span>, <span style="color: #2465f1; font-weight: bold;">CSS</span>, <span style="color: #cf649b; font-weight: bold;">SCSS</span>, <span style="color: #d3c012; font-weight: bold;">JavaScript</span> e <span style="color: #2d79c7; font-weight: bold;">TypeScript</span>, permitindo-me construir interfaces responsivas, modernas e intuitivas. Além disso, carrego comigo habilidades em <span style="color: #533b78; font-weight: bold;">Bootstrap</span>, que agregam estilo e usabilidade aos projetos que desenvolvo.
            </p>
    
            <p class="text-justify">
                Embora minha base seja forte em tecnologias front-end, também possuo conhecimentos básicos em tecnologias back-end como <span style="color: #6a4b99; font-weight: bold;">C#</span>, <span style="color: #6a4b99; font-weight: bold;">.NET</span> e bancos de dados como <span style="color: #3562aa; font-weight: bold;">MySQL</span>, o que me permite ter uma visão mais ampla e integrada dos projetos.
            </p>
    
            <p class="text-justify">
                Estou em constante busca pelo aprimoramento e, atualmente, estou dedicando tempo à minha fluência em inglês na escola de idiomas KNN. Busco oportunidades para aplicar e aprimorar esse idioma, pois vejo a importância de uma comunicação eficaz em um cenário globalizado.
            </p>
        </div>
    </div>
</div>