.text-justify {
    text-align: justify;
}

.about__py-3 {
    padding: 5rem 0 5rem 0;
}

.about__h3 {
    color: #2978b5;
    font-weight: 600;  
}

.about__h5 {
    color: #2978b5;
    font-style: italic; 
}
