<div class="container mx-wd py-8">
    <div class="about__terminal">
        <div class="about__terminal__header">
            <div class="about__terminal__buttons red"></div>
            <div class="about__terminal__buttons yellow"></div>
            <div class="about__terminal__buttons green"></div>
        </div>

        <div class="about__terminal__window py-4">
            <div class="about__terminal__block">
                <div>> Igor.{{ 'about.resume' | translate }}</div>
                <div class="about__terminal__response">"<a rel="noopener" href="assets/CV-IGOR-LIMA.pdf" target="_blank">CV-IGOR-LIMA.pdf</a>"</div>
            </div>

            <div class="about__terminal__block">
                <div>> Igor.{{ 'about.education' | translate }}</div>
                <div class="about__terminal__response">"{{ 'about.responseEducation' | translate }}"</div>
            </div>

            <div class="about__terminal__block">
                <div>> Igor.{{ 'about.experience' | translate }}</div>
                <div class="about__terminal__response">["Benner", "Sinck Soluções", "Wakke LTDA"]</div>
            </div>

            <div class="about__terminal__block">
                <div>> Igor.{{ 'about.location' | translate }}</div>
                <div class="about__terminal__response">"São Paulo, SP - Brasil"</div>
            </div>

            <div class="about__terminal__block">
                <div>> Igor.{{ 'about.interests' | translate }}</div>
                <div class="about__terminal__response">[{{ 'about.responseInterests' | translate }}]</div>
            </div>

            <div class="about__terminal__block">
                <div>> Igor.{{ 'about.contact' | translate }}</div>
                <div class="about__terminal__response">
                    ["<a href="mailto:contato@igorlima.dev">{{ "contato@igorlima.dev" }}</a>",
                    "<a href="https://www.linkedin.com/in/igor-rocha-lima/" target="_blank">Linkedin</a>",
                    "<a href="https://github.com/eaiigor" target="_blank">gitHub</a>",
                    "<a href="https://www.instagram.com/igao.kk/" target="_blank">Instagram</a>"]
                </div>
            </div>

            <div class="about__terminal__block">
                <div>> Igor.stacks</div>
                <div class="about__terminal__response">["Angular", "HTML", "SCSS", "CSS", "Typescript", "Javascript", "C#", ".Net", "MySQL", "Git", "AzureDevops"]</div>
            </div>

            <div class="about__terminal__block">
                <div class="terminar__bar">></div>
            </div>
        </div>
    </div>
</div>
