.fs-32 {
  font-size: 54px;
}

.stacks_py-3 {
  padding: 3rem 0 3rem 0;
}

.pl-5 {
  padding-left: 3rem;
}

.text-justify {
  text-align: justify;
}

.stacks-column {
  width: 50%;
}
  
.stacks-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  justify-items: center;
}
  
.stacks-grid div {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  color: #2978b5;
  transition: 1s;
}

.stacks-grid div:hover {
  border: 1px solid #308ed6;
  background-color: #eaf6ff;
}

@media screen and (max-width: 767px) {
  .description {
    display: none;
  }
  
  .stacks-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .d-flex {
    justify-content: center !important;
  }
}