<hr>
<div class="d-flex flex-column justify-content-between align-items-center stacks_py-3 w-100">
    <h3 class="pb-5">Conhecimentos.</h3>
    <div class="d-flex justify-content-between w-100">
        <div class="stacks-column d-flex justify-content-between align-items-center">
            <p class="text-justify" id="description">*passe o cursor do mouse no card para ler*</p>
        </div>
    
        <div class="stacks-column px-5">
            <div class="stacks-grid">
                <div>
                    <i
                        class="mdi mdi-language-html5 fs-32"
                        data-description="HTML é a ferramenta padrão para criar páginas da web. Utiliza marcações para estruturar o conteúdo, como textos, imagens e links, facilitando a exibição e a interação em navegadores."
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-language-css3 fs-32"
                        data-description="CSS é usada para estilizar o layout e a apresentação de elementos HTML. Define como os elementos são exibidos na página, incluindo o design, o layout e as variações de visualização."
                    ></i>
                </div>
                <div>
                    <i 
                        class="mdi mdi-sass fs-32"
                        data-description="SASS é uma extensão do CSS que oferece funcionalidades extras, como variáveis, aninhamento de seletores, mixins e outras, para ajudar na escrita e na manutenção do código CSS"
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-language-javascript fs-32"
                        data-description="Javascript é uma linguagem de programação usada para criar comportamentos interativos em páginas da web. Ela permite manipular o conteúdo, responder a eventos e interagir dinamicamente com os usuários."
                    ></i>
                </div>
                <div>
                    <i 
                        class="mdi mdi-language-typescript fs-32"
                        data-description="Typescript um superset da linguagem JavaScript que adiciona tipagem estática opcional, oferecendo assim mais facilidade na detecção de erros e na manutenção de código em grande escala."
                    ></i>
                </div>
                <div>
                    <i 
                        class="mdi mdi-angular fs-32"
                        data-description="Angular é um framework para a construção de aplicativos web single-page (SPAs) e aplicações web dinâmicas. Ele oferece recursos como binding de dados, injeção de dependências e componentização para facilitar o desenvolvimento."
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-bootstrap fs-32"
                        data-description="Bootstrap é um framework front-end que fornece componentes e estilos pré-construídos para a criação rápida e responsiva de interfaces web modernas."
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-language-csharp fs-32" 
                        data-description="Csharp é uma linguagem de programação multiparadigma desenvolvida pela Microsoft, usada principalmente para o desenvolvimento na plataforma .NET."
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-dot-net fs-32"
                        data-description="Dot net é um framework de desenvolvimento multiplataforma mantido pela Microsoft para a construção de aplicativos modernos."
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-database-search fs-32"
                        data-description="MySql é um sistema de gerenciamento de banco de dados relacional open-source conhecido por sua confiabilidade e facilidade de uso."
                    ></i>
                </div>
                <div>
                    <i 
                        class="mdi mdi-git fs-32"
                        data-description="Git é um sistema de controle de versão distribuído usado para rastrear as alterações em arquivos durante o desenvolvimento de software."
                    ></i>
                </div>
                <div>
                    <i
                        class="mdi mdi-microsoft-azure-devops fs-32"
                        data-description="Azure Devops é uma suíte de ferramentas oferecida pela Microsoft para planejamento, desenvolvimento, testes e implantação de software. Oferece recursos para colaboração e integração contínua/distribuição contínua (CI/CD) em um ambiente baseado na nuvem."
                    ></i>
                </div>
            </div>
        </div>
    </div>
</div>