<div class="d-flex flex-column justify-content-between align-items-center">
    <h3>Conhecimentos.</h3>
    <div class="d-flex">
        <div>
            <p>*passe o cursor do mouse no card para ler*</p>
        </div>
    
        <div>
            <div>
                <i class="mdi mdi-language-html5 fs-32">html</i>
                <i class="mdi mdi-language-css3 fs-32">css</i>
                <i class="mdi mdi-sass fs-32">SASS</i>
                <i class="mdi mdi-language-javascript fs-32">JavaScript</i>
                <i class="mdi mdi-language-typescript fs-32">TypeScript</i>
                <i class="mdi mdi-angular fs-32">Angular</i>
                <i class="mdi mdi-angularjs fs-32">AngularJS</i>
                <i class="mdi mdi-bootstrap fs-32">Bootstrap</i>
                <i class="mdi mdi-language-csharp fs-32">C#</i>
                <i class="mdi mdi-dot-net fs-32">.Net Core</i>
                <i class="mdi mdi-database-search fs-32">MySQL</i>
                <i class="mdi mdi-git fs-32">Git</i>
                <i class="mdi mdi-microsoft-azure-devops fs-32">Azure Devops</i>
            </div>
        </div>
    </div>
</div>