.hello__name {
  font-size: 5.5em;
  font-weight: 400;
  margin-top: 14rem;
  max-width: 33rem;
  color: var(--text-title);
  overflow: hidden;
  border-right: 0.1em solid rgba(144, 153, 238, 0.65);
  white-space: nowrap;
  width: 0;
  animation: typing 3.5s steps(30, end) 1s forwards, blink-caret-hello 1s step-end infinite;
}

.hello__sub {
  font-size: 2em;
  font-weight: 300;
  font-style: italic;
}

.hello__p {
  font-weight: 400;
  font-size: 1.3em;
  text-align: justify;
}

.hello__span {
  font-weight: 700;
  color: var(--text-title);
}

@media screen and (max-width: 767px) {
  .hello__name {
    font-size: 3.7em;
  }
}