<div class="d-flex flex-column justify-content-between align-items-center hello__py-3">
    <img class="hello__avatar" src="../../../assets/igor-avatar.png" alt="igor-avatar">
    <h1 class="hello__h1 mt-5">Olá, meu nome é <span class="hello__name">Igor Lima.</span></h1>
    <h3 class="mt-5 hello__h3">Sou desenvolvedor Front end.</h3>
    <div class="d-flex gap-2">
        <a class="mdi mdi-whatsapp fs-28 hello__wpp" href="https://wa.me/+5535984325075" target="_blank"></a>
        <a class="mdi mdi-linkedin fs-28 hello__in" href="https://www.linkedin.com/in/igor-rocha-lima/" target="_blank"></a>
    </div>
</div>