<div class="container mx-wd d-flex flex-column justify-content-between py-8">
  <h1 class="hello__name">> Igor Lima.</h1>
  <!-- <h4 class="hello__sub">Café, Lofi, códigos, e apaixonado pelo que faz.</h4> -->
  <p>
    Um desenvolvedor web ajudando empresas a darem vida às suas ideias com
    tecnologia, expertise e um pouco de café. Confira meus
    <span class="hello__span">projetos paralelos</span> abaixo.
  </p>
  <!-- <div class="d-flex gap-2">
        <a class="mdi mdi-whatsapp fs-28 hello__wpp" href="https://wa.me/+5535984325075" target="_blank"></a>
        <a class="mdi mdi-linkedin fs-28 hello__in" href="https://www.linkedin.com/in/igor-rocha-lima/" target="_blank"></a>
        <a class="mdi mdi-github fs-28 hello__github" href="https://github.com/eaiigor" target="_blank"></a>
    </div> -->
</div>
