.fs-32 {
    font-size: 32px;
    color: black;
}

.hello__h1 {
    font-weight: 600;
    font-size: 56px;
}

.hello__name {
    color: #2978b5;
}

.hello__h3 {
    font-weight: 600;
}

.hello__py-3 {
    padding: 5rem 0 5rem 0;
}