<div class="container mx-wd py-8">
    <div class="d-flex justify-content-center">
        <h3 class="title_c">&lt;{{ 'projects.projects' | translate }} /&gt;</h3>
    </div>

    <div>
        <div class="mp__container row d-flex">
            <div class="mp__container__img col">
                <a href="https://iflowplus.igorlima.dev/" target="_blank">
                    <img class="mobal-img" src="assets/iflow-image.png"  alt="Imagem iFlow +">
                </a>
            </div>

            <div class="mp__container__body col d-flex flex-column justify-content-center mp__gap_2-6">
                <div>
                    <h6 class="mp__title">iFlow +</h6>
                </div>
                <div>
                    <p class="mp__text">
                        {{ 'projects.iflowPhrase' | translate }}
                    </p>
                </div>
                <div class="mp__tecnologies">
                    <span>HTML5</span>
                    <span>SCSS</span>
                    <span>Typescript</span>
                    <span>Angular</span>
                    <span>Bootstrap</span>
                </div>
                <div class="mp__buttons">
                    <a href="https://github.com/eaiigor/iflowplus" target="_blank">
                        <span>{{ 'projects.code' | translate }}</span>
                        <i class="mdi mdi-github ms-2"></i>
                    </a>
    
                    <a href="https://iflowplus.igorlima.dev/" target="_blank">
                        <span>Demo</span>
                        <i class="mdi mdi-open-in-new ms-2"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="mp__container row d-flex">
            <div class="mp__container__img col">
                <a href="https://am-ccb-lambari.vercel.app/" target="_blank">
                    <img class="mobal-img" src="assets/am-ccb-lambari.png"  alt="Imagem iFlow +">
                </a>
            </div>

            <div class="mp__container__body col d-flex flex-column justify-content-center mp__gap_2-6">
                <div>
                    <h6 class="mp__title">Agenda Musical Lambari</h6>
                </div>
                <div>
                    <p class="mp__text">
                        {{ 'projects.agendaMusicalPhrase' | translate }}
                    </p>
                </div>
                <div class="mp__tecnologies">
                    <span>HTML5</span>
                    <span>SCSS</span>
                    <span>Typescript</span>
                    <span>Angular</span>
                    <span>Bootstrap</span>
                </div>
                <div class="mp__buttons">
                    <a href="https://github.com/eaiigor/am-ccb-lambari" target="_blank">
                        <span>{{ 'projects.code' | translate }}</span>
                        <i class="mdi mdi-github ms-2"></i>
                    </a>
    
                    <a href="https://am-ccb-lambari.vercel.app/" target="_blank">
                        <span>Demo</span>
                        <i class="mdi mdi-open-in-new ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>