 .mp__container {
    
    .mp__gap_2-6 {
        gap: 2.6rem;
    }
  
    .mp__container__img {
        cursor: pointer;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    }

    .mp__container__img:hover {
        transform: scale(1.03);
        filter: brightness(70%);
    }

    .mp__container__body {
     
        
        .mp__title {
            color: #747fe0;
            font-weight: 400;
            font-size: 2rem;
        }

        .mp__text {
            font-weight: 400;
            font-size: 1.2em;
            color: #525f7f;
        }

        .mp__tecnologies {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start;
            
            span {
                border: 1px solid #6c78e3;
                color: #6c78e3;
                border-radius: 4px;
                padding: 5px 10px;
                font-size: 1.1rem;
                font-weight: 600;
                padding: 5px 10px;
            }
        }
        
        .mp__buttons {
            display: flex;
            gap: 2rem;

            a {
                background-color: #a4abe9;
                border: 1px solid #b8bef1;
                text-decoration: none !important;
                padding: 6px 10px;
                color: white;
                font-size: 18px;
                border-radius: 4px;
                transition: .3s;
            }

            a:hover {
                background-color: #ffffff00;
                color: #a4abe9;
            }
        }
    }

    @media screen and (max-width: 767px) {
          
        .mobal-img {
            max-width: 24rem;
        }
    }
 }
