<div class="container mx-wd">
    <hr>
    <div class="d-flex flex-column justify-content-between align-items-center py-3 mb-5">
        <h3 class="pb-5">Projetos</h3>
        <div class="d-flex flex-column w-100 card-project">
            <div class="d-flex w-100 card-project-responsive mt-4">
                <div class="w-100">
                    <a href="https://iflowplus.igorlima.dev/" target="_blank">
                        <img src="assets/iflow-image.png" class="w-100 card-project-img" alt="Imagem iFlow +">
                    </a>
                </div>
                <div class="w-100 d-flex flex-column justify-content-center align-items-center card-project-info">
                    <h6>iFlow +</h6>
                    <p style="text-align: justify; margin: 1rem 0;">
                        Um simulador de sistema de streaming que permite adicionar os filmes em uma lista que é salva no
                        local storage.
                    </p>
                    <div class="d-flex gap-3 card-project-stacks">
                        <div style="color: #c4002b !important;">Angular</div>
                        <div style="color: #533b78 !important;">Bootstrap</div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-3 mt-4 card-project-links mb-4">
                <a href="https://github.com/eaiigor/iflowplus" target="_blank">
                    <span style="margin-right: 5px;">Código</span>
                    <i class="mdi mdi-github"></i>
                </a>

                <a href="https://iflowplus.igorlima.dev/" target="_blank">
                    <span style="margin-right: 5px;">Visualizar</span>
                    <i class="mdi mdi-open-in-new"></i>
                </a>
            </div>
        </div>

        <div class="d-flex flex-column w-100 card-project mt-5">
            <div class="d-flex w-100 card-project-responsive mt-4">
                <div class="w-100">
                    <a href="https://am-ccb-lambari.vercel.app/" target="_blank">
                        <img src="assets/am-ccb-lambari.png" class="w-100 card-project-img" alt="Agenda musical Lambari">
                    </a>
                </div>
                <div class="w-100 d-flex flex-column justify-content-center align-items-center card-project-info">
                    <h6>Agenda Musical Lambari</h6>
                    <p style="text-align: justify; margin: 1rem 0;">
                        Uma agenda digital musical que lista todos os eventos musicais das CCB´s do setor LAMBARI-MG
                    </p>
                    <div class="d-flex gap-3 card-project-stacks">
                        <div style="color: #c4002b !important;">Angular</div>
                        <div style="color: #533b78 !important;">Bootstrap</div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-3 mt-4 card-project-links mb-4">
                <a href="https://github.com/eaiigor/am-ccb-lambari" target="_blank">
                    <span style="margin-right: 5px;">Código</span>
                    <i class="mdi mdi-github"></i>
                </a>

                <a href="https://am-ccb-lambari.vercel.app/" target="_blank">
                    <span style="margin-right: 5px;">Visualizar</span>
                    <i class="mdi mdi-open-in-new"></i>
                </a>
            </div>
        </div>
    </div>
</div>