*
{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    color: #555;
}

.mx-wd {
    max-width: 1100px;
}

.py-3 {
    padding: 3rem 1rem 3rem 1rem;
}