* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 500;
  color: #525f7f;
  background-color: #f6f9fc;
}

.mx-wd {
  max-width: 1100px;
}

.title_c {
  color: #747fe0;
  font-weight: 500;
  font-size: 2.2rem;
}

.py-3 {
  padding: 3rem 1rem 3rem 1rem !important;
}

.py-8 {
  padding: 8rem 14px;
}

.form-control:focus {
  border-color: #c2c8fa !important;
  box-shadow: 0 0 0 0.25rem rgb(94 20 241 / 25%);
}

.mt-6 {
  margin-top: 6rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret-console {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: hsla(0, 0%, 97%, 0.65);
  }
}

@keyframes blink-caret-hello {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(116, 127, 224, 0.65);
  }
}
