<div class="container mx-wd">
    <hr>
    <div class="d-flex flex-column justify-content-between align-items-center experience_py-3">
        <h3 class="pb-5">Experiências.</h3>
        <div class="d-flex w-100 flex-responsive gap-3">
            <div class="w-20 mb-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Freelancer</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Wakke</a>
                </div>
            </div>
            <div class="w-80">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between responsive-titles">
                                <h4>Freelancer</h4>
                                <h5>Jul 2023 - Atual</h5>
                            </div>
                            <h6>Autonomo</h6>
                            <p class="text-justify mt-4">
                                Como freelancer, foquei em aprender a lidar diretamente com os clientes e a organizar meu trabalho para atender às suas demandas de forma eficaz. Esse tempo foi essencial para desenvolver habilidades de comunicação direta e clara, garantindo que entendia completamente as expectativas dos clientes. Aprendi a gerenciar meu tempo e projetos de forma mais eficiente, priorizando entregas de alta qualidade dentro dos prazos estabelecidos. Esta experiência me ensinou a importância da autonomia e da gestão pessoal.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between responsive-titles">
                                <h4>Desenvolvedor II</h4>
                                <h5>Jan 2022 - Jul 2023</h5>
                            </div>
                            <h5>Wakke</h5>
                            <p class="text-justify mt-4">
                                Na Wakke, comecei como estagiário front-end, trabalhando com Angular. Em seis meses, avancei para desenvolvedor 1 e, mais tarde, para desenvolvedor 2. Durante esse período, ampliei minhas responsabilidades para o back-end com C# e .NET, além de revisar pull-requests e documentar processos. Essa jornada foi fundamental para compreender o funcionamento interno de uma empresa e seus processos, oferecendo uma visão abrangente do desenvolvimento de software, além de solidificar minha versatilidade e compreensão sobre os diferentes aspectos do negócio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>